<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle">&#8681 SUS PRODUCTOS SELECCIONADOS: &#8681</h2>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>