<div class="card d-inline-block " style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{producto}}</h3>
    <img class="card-img-top smaller-img" src="{{{imagenProducto}}}" data-toggle="modal" data-target="#exampleModal"
      data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="alimentarCarro(this);" />
  </div>
</div>
